#  A dummy file for indication that the "pre-commit" process has finished successfully.
.pre-commit-has-finished-successfully

# The last response from server to a "export-db" or "import-db" request.
last-response-from-server.txt

# In case the download of "export-db" was aborted.
ghost_db.bak
